/*debugging
*{
    border: 1px solid #00e1ff26;
}
*/
/*basic structure*/
body{
    font-family: 'Roboto', sans-serif;
}
.left{
    background-color: white;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 80%;
    opacity: 1;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    position: fixed;
    bottom: 0;
    right: -35vw;
    top: 0;
    width:50vw;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.right:hover{
    right: 0;
}
.right:hover .rightContent{
    border-left: 10px solid black;
}
.right:hover .signInLabel{
    padding: 1.5vh 10vw;
}
.right:hover .rightContent>form{
    opacity: 1;
}
.right:hover + .left{
    opacity: 0.2;
}

/*right content*/
.signInLabel{
    position:absolute;
    top:10vh;
    left:0;
    background-color: black;
    color: white;
    padding: 1.5vh 1.5vw;
    transition: 0.5s;
}
.rightContent{
    opacity: 1;
    background-color: white;
    width:100%;
    height: 80vh;
    border-left: 2px solid black;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.rightContent>form{
    opacity: 0.2;
    transition: 0.5s;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.rightContent>form>div{
    padding: 1vh 0;
}
.formLabel{
    margin-bottom: 2vh;
    font-weight: bold;
}
.inputLabel{
    padding: 1px 20px;
    background-color: black;
    color: white;
}
.input{
    border: 2px solid black;
    padding: 5px;
    background-color: #00000015;
    transition: 0.2s;
}
.input:hover{
    background-color: #00000003;
}
.input:focus {
    background-color: #00000003;
    padding: 10px;
}
.submit{
    background-color: white;
    color: black;
    padding: 5px 20px;
    border: 2px solid black;
    transition: 0.3s;
}
.submit:hover{
    background-color: black;
    color: white;
    padding: 10px 25px;
}
.submit:focus{
    background-color: black;
    color: white;
    padding: 10px 25px;
}

/*left content*/
.leftContent{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.leftContent>form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.leftContent>form>div{
    padding: 1vh 0;
}
.loremContainer{
    text-align: right;
}
.signUpFormLabel{
    font-weight: bold;
}
.coolCompanyNameContainer{
    background-color: black;
    color: white;
    padding: 1vh 1vw;
    font-size: larger;
    font-weight: bolder;
    font-size: 300%;
    align-self: flex-start;
}

.errorMessage{
    display: block;
    color: #ff4343ad;
}